doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/styles/style.css')
        script(src='/scripts/kinetic-v4.7.4.min.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/scripts/drawing.js')
        script(src='/scripts/main.js')
    body
        h1 BNCS - #{title}
        ul#nav
            li
                a(href="#one") Menu A
            li
                a(href="#two") Menu B

         block content
